  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    text-align: center;
  }
  
  header {
    background-color: #434343;
    padding: 20px;
  }
  
  header img {
    width: 198px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 10px;
  }
  
  h1 {
    margin: 10px 0;
    font-size: 28px;
    color: white;
    font-weight: bold;
  }
  
  h2 {
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
  }
  
  h3 {
    font-size: 20px;
    color: rgb(188, 188, 188);
    font-weight: bold;
  }
  section {
    background: #333;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background: #0073e6;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  li:hover {
    background: #005bb5;
    transform: scale(1.1);
    transition: 0.2s;
  }
  
